b { font-weight: bold; }
h1 { font-size: 24px; 
    color: #333; 
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
p { font-size: 16px; 
    color: #555; 
    line-height: 1.5; 
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}